.form {
  padding:0;
  margin:0;

  &__fieldset {
    border:0;
    padding:0;
    margin:0;
  }

  &__legend {
    display:none;
  }

  &__list {
    list-style:none;
    padding:0;
    margin:16px;
  }

  &__list-item {
    margin-bottom:16px;
  } 

  &__list-item--hidden {
    display:none;
  }  
  
  &__label {
    display:none;
  }

  &__field {
    -webkit-appearance: none;
    -moz-appearance: none;	
    appearance:none;
    display:inline-block;    
    width: 100%;
  }

  &__field:focus {
    border-color:$colour-primary;
  }  

  &__field--invalid {
    border:solid 1px $colour-danger;
  }
  
  &__field-textarea {
    height:15.0em;
  }

  &__field-attachment {
    display:none;
  }

  &__attachment-header {
    font-size:1.0em;
    font-weight:500;
  }

  &__attachment-container {
    display:flex;
    justify-content:flex-start;
  }

  &__attachment-image-wrapper {
    position:relative;
    margin-right:16px;
  }

  &__attachment-image-mask {
    display:none;
  }

  &__attachment-image-wrapper:hover > .form__attachment-image-mask {
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba($colour-base, 0.8);
    border-radius:5px;
  }

  &__attachment-image-icon {
    fill:$colour-placeholder;
    height:48px;
    width:48px;
  }

  &__attachment-image {
    max-width:100px;
    max-height:100px;
    border-radius:5px;
  }

  &__button-container {
    display:flex;
    justify-content:space-between;
    margin:0 16px 16px;
  }

  &__button--inactive {
    color:$colour-placeholder;
    background-color:$colour-border;    
  }

  &__button-arrow-right {
    margin-right:6px;
    fill:$colour-light;
  }

  &__button--inactive > .form__button-arrow-right {
    fill:$colour-placeholder;
  }

  &__button-sr-only {
    display:none;
  }

  &__button-attachment {
    width:2.5em;
    height:2.5em;
    color:$colour-base;
    background-color:$colour-light;
    border-radius:100%;
    border:solid 1px $colour-border;
    position:relative;
  }

  &__button-attachment-icon {
    position:absolute;
    top:8px;
    left:6px;
    fill:$colour-placeholder;
  }
}