$colour-primary: #00bef0;
$colour-secondary: #50d2dc;

$colour-danger: #e03f3f;

$colour-dark: #094358;
$colour-light: #ffffff;
$colour-border: #dde2e3;

$colour-base: #2e3638;
$colour-placeholder: #939598;